.entry{
    background-color: ghostwhite;
    text-align: center;
    margin: auto;
    width: 70%;
    margin-top: 1%;
    padding: 2%;
    border-radius: 2rem;
}

.entry-input{
    padding:1%;
    margin: 1%;
    border-radius: 1rem;
    width:90%;
    border: 1px solid black;
}

.entry-button{
    padding:1%;
    border-radius: 1rem;
    width:10%;
    border: 1px solid black;
}

.entry-input-image{
    padding:1%;
    margin: 1%;
    border-radius: 1rem;
    width:90%;
    border: 1px solid black;
}

.entry-header{
    font-size: large;
    margin-bottom: 0.5%;
}

#entry-input-image{
    padding:1%;
    margin: 1%;
    border-radius: 1rem;
    width:90%;
    border: 1px solid black;
}