.entry{
    background-color: ghostwhite;
    text-align: center;
    margin: auto;
    width: 60rem;
    margin-top: 1rem;
    padding: 2rem;
    border-radius: 2rem;
}

.entry-input{
    padding:0.7rem;
    margin: 0.5rem;
    border-radius: 1rem;
    width:50rem;
    border: 1px solid black;
}

.entry-button{
    padding:0.7rem;
    border-radius: 1rem;
    width:7rem;
    border: 1px solid black;
}

.entry-header{
    font-size: large;
    margin-bottom: 0.5rem;
}

#entry-input-image{
    padding:0.6rem;
    margin: 0.5rem;
    border-radius: 1rem;
    width:50rem;
    border: 1px solid black;
}