.entry{
    background-color: ghostwhite;
    text-align: center;
    margin: auto;
    width: 60rem;
    margin-top: 1rem;
    padding: 2rem;
    border-radius: 2rem;
}

.entry-input{
    padding:0.7rem;
    margin: 0.5rem;
    border-radius: 1rem;
    width:50rem;
    border: 0.01rem solid black;
}

.entry-button{
    padding:0.7rem;
    border-radius: 1rem;
    width:7rem;
    border: 0.01rem solid black;
}

.entry-header{
    font-size: large;
    margin-bottom: 0.5rem;
}

#entry-input-image{
    padding:0.6rem;
    margin: 0.5rem;
    border-radius: 1rem;
    width:50rem;
    border: 0.01rem solid black;
}

@media  screen and (max-width:1051px) {
    .entry {
        width: 40rem;
    }
    .entry-input {
        width: 35rem;
    }
    #entry-input-image {
        width: 35rem;
    }
}

@media  screen and (max-width:701px) {
    .entry {
        width: 25rem;
    }
    .entry-input {
        width: 20rem;
    }
    #entry-input-image {
        width: 20rem;
    }
}

@media  screen and (max-width:501px){
    .entry {
        width: 17rem;
    }
    .entry-input {
        width: 14rem;
    }
    #entry-input-image {
        width: 14rem;
    }
}