.item{
    margin:auto;
    margin-top: 10%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 40rem;
    height: 40rem;
    background-color:ghostwhite;
    border-radius: 2rem;
    padding: 1%;
}

.img-div{
    width: 100%;
}

.img-class{
    width:90%;
    border-radius: 2rem;
}

.entry-delete{
    border-radius: 1rem;
    margin-top: 1%;
}

.posts{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}